# This .gitignore file should be placed at the root of your project directory
#
/[Aa]rtwork/

.DS_Store
*.DS_Store
*/*.DS_Store
*/*/*.DS_Store
*/*/*/*.DS_Store
*.log

*.log
.kilo/*
*.kilo
*.kilo/*
.vscode/*
.vscode
.DS_Store
assets/.DS_Store
assets/story/.DS_Store
tools/.DS_Store
assets/.DS_Store
assets/story/.DS_Store
